<div style="padding: 13px;">
    <div class="container">
      <h1 *ngIf="disconnected" >Login</h1>
      <h1 *ngIf="connected" >Chats</h1>
        
        <form #chatForm="ngForm">
          <div class="form-group ">
            <div class="row">
              <div *ngIf="disconnected" class="col-sm-3" >
                <div class="row">
                  <input type="text" placeholder="Username" class="form-control" id="name" required [(ngModel)]="username" name="username">
                </div>
                <div class="row top5">
                  <input type="password" placeholder="Password" class="form-control" id="password" required [(ngModel)]="password" name="password">
                </div>
              </div>
              <div *ngIf="connected" class="col-sm-3" >
                <div class="row">
                  <label for="to">Bienvenido {{username}}</label>
                </div>
              </div>
              <div class="col-sm-2">
                <button type="button" *ngIf="disconnected" class="btn btn-warning col-sm-12" (click)="login()">Ingresa</button>
                <button type="button" *ngIf="disconnected" class="btn btn-info col-sm-12" (click)="sign_up()">Regístrate</button>
                <button type="button" *ngIf="connected" class="btn btn-danger col-sm-12" (click)="disconnect()">Desconectar</button>
              </div>
            </div>
          </div>
        </form>
        <div class="row">
          <div *ngIf="connected" class="col-sm-3" >
              <button *ngFor="let chat of session.chats"  class="btn btn-info col-sm-12" (click)="changeChat(chat)">{{chat.contact.username}}</button>
            
          </div>
          <div *ngIf="connected" class="col-sm-9" >

            <form #chatForm="ngForm">
              <div class="form-group">
                <label for="to">To: {{chat.contact.username}}</label>
              </div>
              <div class="form-group">
              <p *ngFor="let message of chat.messages"><span>[{{message.time| date :  "dd-MM-y h:m" }}] {{message.sender.username}}: </span> {{message.content}}</p>
              </div>
              <div class="form-group">
                <input type="text" placeholder="Write a message" class="form-control" id="name" required [(ngModel)]="newMessage" name="newMessage">
              </div>
              
              <button *ngIf="receiver.username!='' " type="button" class="btn btn-success" (click)="sendMessage()">Send!</button>
            </form>
          </div>
        </div>
    </div>
</div>  