<div style="padding: 13px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-3" >
              <div class="row">
                <label for="to">Administrador</label> 
              </div>
            </div>
            <div class="col-sm-4">
              <button type="button" class="btn btn-danger col-sm-12">Salir</button>
        </div>
        <div  class="col-sm-12" >
  
            <form   #chatForm="ngForm">
              <div class="form-group">
                <label for="to">Mensaje a comunidad:</label>
              </div>
              <div   class="form-group">
                <input type="text" placeholder="Escriba un mensaje" class="form-control" required [(ngModel)]="message" id="message" name="message">
              </div>
              
              <button type="submit" class="btn btn-success" (click)="sendMessage()" class="col-sm-6 offset-sm-6">Send!</button>
             
            </form>
            
        </div>
    </div>
</div>  