<div style="padding: 13px;">
  <div class="container">
    <div class="row">
      <div class="col-sm-3" >
        <div class="row">
          <label for="to">Administrador</label> 
        </div>
      </div>
      <div class="col-sm-4">
        <button type="button" class="btn btn-danger col-sm-12" (click)="logout()">Salir</button>
      </div>
    </div>
    <hr style="height:1px;border-width:0;color:gray;background-color:gray">
    <div class="row">
      <div class="col-sm-12" >
        <div class="row">
          <label class="col-sm-2">Usuarios Online</label>
          <label class="col-sm-2">Chats Activos</label>
          <label class="col-sm-2">Mensajes (última hora)</label>
          <label class="col-sm-2">Mensajes (último día)</label>
          <label class="col-sm-2">Mensajes (todos)</label>
        </div>
      </div>
    </div>
    <hr style="height:1px;border-width:0;color:gray;background-color:gray">
    <div class="row">
      <p class="col-sm-2">{{statistics.activeUsers}}</p>
      <p class="col-sm-2">{{statistics.activeChatrooms}}</p>
      <p class="col-sm-2">{{statistics.messagesLastHour}}</p>
      <p class="col-sm-2 ">{{statistics.messagesLastDay}}</p>
      <p class="col-sm-2 ">{{statistics.messagesAllTime}}</p>
    </div>
    <hr style="height:1px;border-width:0;color:gray;background-color:gray">
    <div class="row">
      <label class="col-sm-2">Mensajes promedio (por minuto)</label>
      <label class="col-sm-2">Bytes promedio (por minuto)</label>
      <label class="col-sm-2">Bytes (última hora)</label>
      <label class="col-sm-2">Bytes (último día)</label>
      <label class="col-sm-2">Bytes (todos)</label>
    </div>
    <hr style="height:1px;border-width:0;color:gray;background-color:gray">
    <div class="row">
      <p class="col-sm-2">{{statistics.messagesPerMinute | number : '1.2-2'}}</p>
      <p class="col-sm-2 ">{{statistics.bytesPerMinute | number : '1.2-2'}}</p>
      <p class="col-sm-2">{{statistics.bytesLastHour}}</p>
      <p class="col-sm-2">{{statistics.bytesLastDay}}</p>
      <p class="col-sm-2">{{statistics.bytesAllTime}}</p>
    </div>
    <hr style="height:1px;border-width:0;color:gray;background-color:gray">

    <div  class="col-sm-12" >
        <form   #chatForm="ngForm">
          <div class="form-group">
            <label for="to">Mensaje a comunidad:</label>
          </div>
          <div   class="form-group">
            <input type="text" placeholder="Escriba un mensaje" class="form-control" required [(ngModel)]="message" id="message" name="message">
          </div>
          <button type="submit" class="btn btn-success" (click)="sendMessage()" class="col-sm-6 offset-sm-6">Send!</button>
        </form>
    </div>
  </div>
</div>