<div style="padding: 13px;">
    <div class="container">
      <h1 >Login</h1>
        
        <form #chatForm="ngForm">
          <div class="form-group ">
            <div class="row">
              <div class="col-sm-3" >
                <div class="row">
                  <input type="text" placeholder="Username" class="form-control" id="name" required [(ngModel)]="username" name="username">
                </div>
                <div class="row top5">
                  <input type="password" placeholder="Password" class="form-control" id="password" required [(ngModel)]="password" name="password">
                </div>
              </div>
              <div class="col-sm-4">
                <button type="button" *ngIf="disconnected" class="btn btn-warning col-sm-12" (click)="login()">Ingresa</button>
                <label class="col-sm-12"></label>
                <button type="button" *ngIf="disconnected" class="btn btn-info col-sm-12" (click)="sign_up()">Regístrate</button>
              </div>
            </div>
          </div>
        </form>
    </div>
  </div>  